body {
  background: black;
  color: white;
  font-family: Arial;
}

.filters {
  display: flex;
  gap: 10px;
  margin: 20px;
}

select,
input {
  padding: 10px;
  font-size: 16px;
}

#contentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.post {
  width: 250px;
  margin: 10px;
  padding: 10px;
}

video {
  border: none;
  outline: none;
  display: block;
}

.post video,
.post img {
  width: 100%;
  border-radius: 12px;
}
