body {
  background: black;
  color: white;
  font-family: Arial;
}

.filters {
  display: flex;
  gap: 15px;
  margin: 20px;
  padding: 15px;
  background: rgba(0,0,0,0.6);
  border-radius: 12px;
  width: fit-content;
}

select,
input {
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
}
